/1730
/1750
/1772
/48k Drive End Bearing Fault Data
/12k drive end bearing fault data
/fan end bearing fault data
/normal baseline data
/readmatdata - 副本.py
/readmatdata.py
/readmatdata_1750.py
/readmatdata_1772.py
/__pycache__
datapool.py